<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên trang</th>
            <th>Từ khóa</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <!-- 'lstPages' phải khớp với tên bạn đặt trong Controller -->
        <tr th:each="p : ${lstPages}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.pageName}"></td>
            <td th:text="${p.keyword}"></td>
            <td>
                [view] [edit] [delete]
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>